<h2>Twoja tablica</h2>
<p>Witaj <%= name %>!</p>
<p>Lista zadań dodanych przez Ciebie:</p>
<div class="list">
    <ul>
        <% problems.forEach(problem => { %>
        <div class="problem">
            <div id="problem-title">
                <li><a href="/problems/<%= problem.title %>"><%= problem.title %></a></li>
            </div>
            <div>
                <form method="GET" action="/problems/<%= problem.id %>/edit">
                    <button type="submit">Edytuj</button>
                </form>
            </div>
            <div>
                <form method="POST" action="/problems/<%= problem.id %>?_method=DELETE">
                    <button type="submit">Usuń</button>
                </form>
            </div>
        </div>
        <% }) %>
    </ul>
</div>

<div class="bottom-buttons-container" id="problem-buttons">
    <a href="/dashboard/logout" class="free-link">Wyloguj się</a>
    <a href="/problems/new" class="free-link">Dodaj zadanie</a>
</div>