<h1>This is problem's page </h1>
<h2><%= problem.title %></h2>
<h3><%- problem.contents %></h3>
<h3><%- problem.explanation %></h3>
<h3><%- problem.solution %></h3>
<h3><%= problem.school %></h3>
<h3><%= problem.author %></h3>
<h3><%= problem.date %></h3>


