<h1><%= problem.title %></h1>
<p><%- problem.contents %></p>
<p><%- problem.explanation %></p>
<p><%- problem.solution %></p>
<p><%- problem.author %></p>

<% if(user.name == problem.author ) { %>
<form method="POST" action="/problems/<%= problem.id %>?_method=DELETE">
    <button type="submit">Usuń</button>
</form>
<form method="GET" action="/problems/<%= problem.id %>/edit">
    <button type="submit">Edytuj</button>
</form>
<% } %>


